/* Tags */
body {
  width: 350px;
  min-height: auto;
  background-color:  #000000c9;
}

kbd {
  background-color: orange;
  color: black;
  font-size: large;
}

input[type="text"] {
  text-align: center;
}

p {
  text-align: center;
  background-color: white;
  margin-bottom: 0px;
  margin-bottom: 0px;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}

p[aria-expanded="false"] {
  border-radius: 0.8rem;
}

span p {
  text-align: center;
  padding: 2px 10px 2px 10px;
  border-radius: 0.8rem;
}

/* Classes */
.box-blur {
  background-color:  rgba(0,0,0,.2);
  border-radius: 0.8rem;
  min-height: 415px;
}

.box-orange {
  background-color: orange;
  border-radius: 0.8rem;
}

.icon-18-black {
  height: 18px;
  width: 18px;
}

.nav-main img {
  filter: invert(100%);
  height: 18px;
  width: 18px;
}

.nav-main .nav-link {
  transition: none;
}

.nav-main .disabled img {
  opacity: 0.65;
}

.nav-main a:hover {
  opacity: 0.65;
}

.nav-main .active {
  background-color: orange;
}

.row.collapse-horizontal {
  min-height: 60px;
}

.row.collapse-horizontal:hover {
  background-color: rgba(0,0,0,.05);
}

.site-collapse {
  height: 60px;
}

/* Ids */
#div_time {
  font-size: xxx-large;
}

#home_img, #settings_img, #timer_img {
  filter: invert(100%);
  background-color: white;
  border-style: solid;
  border-color: orange;
  width: 50px; 
}

#profile_pic {
  display: inline;
  width: 75px;
  background-color: white;
  border-radius: 50%;
  border-style: solid;
  border-color:  orange;
}

#profile_pic:hover, #home_img:hover, #settings_img:hover, #timer_img:hover{ 
  opacity: .75;
}

#zone_status, #div_time {
  text-align: center;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292a2d; 
  border-radius: 0.8rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 0.8rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}