body {
  height: 555px;
  width: 332px;
  background-color: green;
}

button:enabled {
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    background: blue;
    padding: 30px 10px;
    text-align: center;
  }

  #zoneButton:disabled {
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    padding: 30px 10px;
    text-align: center;
    background: gray;
  }

  div {
    background-color: orange;
  }

  p {
    text-align: center;
    background-color: white;
    margin-bottom: 0px;
  }

  #form2 {
    background-color: orange;
  }